In [1]:
import pandas as pd

In [2]:
# gemma11モデル
gemma001 = pd.read_csv("gemma_ver1_infer3.csv")
gemma002 = pd.read_csv("gemma_ver2_infer.csv")
gemma005 = pd.read_csv("gemma_ver5_infer.csv")
gemma006 = pd.read_csv("gemma_ver6_infer.csv")
gemma007 = pd.read_csv("gemma_ver7_infer.csv")
gemma008 = pd.read_csv("gemma_ver8_infer.csv")
gemma009 = pd.read_csv("gemma_ver9_infer.csv")
gemma010 = pd.read_csv("gemma_ver10_infer.csv")
gemma012 = pd.read_csv("gemma_ver12_infer.csv")
gemma013 = pd.read_csv("gemma_ver13_infer.csv")
gemma015 = pd.read_csv("gemma_ver15_infer.csv")

#llama3モデル
llama001 = pd.read_csv("llama_ver1_infer.csv")
llama002 = pd.read_csv("llama_ver2_infer.csv")
llama003 = pd.read_csv("llama_ver3_infer.csv")

#qwen2モデル
qwen2001 = pd.read_csv("qwen2_ver1_infer.csv")

sample_submission = pd.read_csv("../../sample_submission.csv")

In [3]:
sample_submission

         target
0      0.488567
1      0.315813
2      0.764448
3      0.980691
4      0.406762
...         ...
11150  0.922096
11151  0.692480
11152  0.236563
11153  0.267781
11154  0.177353

[11155 rows x 1 columns]

In [4]:
gemma = sample_submission.copy()
llama = sample_submission.copy()
qwen2 = sample_submission.copy()

In [5]:
gemma["target"] = (gemma001["target"]+gemma002["target"]+gemma005["target"]+gemma006["target"]+gemma007["target"]+gemma008["target"]+gemma009["target"]+gemma010["target"]+gemma012["target"]+gemma013["target"]+gemma015["target"])/11
llama["target"] = (llama001["target"] + llama002["target"] + llama003["target"])/3
qwen2["target"] = qwen2001["target"]

In [6]:
sample_submission["target"] = (gemma["target"] + llama["target"] + qwen2["target"])/3

In [7]:
sample_submission

         target
0      0.999195
1      0.387652
2      0.998345
3      0.307052
4      0.997589
...         ...
11150  0.999166
11151  0.999362
11152  0.999221
11153  0.998740
11154  0.999417

[11155 rows x 1 columns]

In [8]:
sample_submission.to_csv("final_blend_ver3.csv", index=False)